body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

img {
    margin: 10px auto;
    height: auto;
    width: auto;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 50px;
}

main {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

/*About*/
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
    border-bottom: 1px solid black;
}

#about h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.25rem;
    font-weight: bold;
}

#about .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 15px;
    margin: auto;
    font-size: 1.75rem;
}

#about img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

/*Projects*/
#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
    gap: 20px;
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: lightsteelblue;
    border-bottom: 1px solid black;
}

#projects h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 5px;
    font-size: 2.25rem;
    font-weight: bold;
}

#projects .project-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border-radius: 8px;
   margin-bottom: 20px;
   
}

#projects .project-item img{
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: block;
    transition: transform 0.2s ease;
}

#projects .project-item a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

#projects .project-item .project-tech {
    font-size: 1.25rem;
}

/*Technologies*/
#technologies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    background-color: powderblue;
    border-bottom: 1px solid black;
    justify-content: center;
}

#technologies h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.25rem;
}

#technologies .icon img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 15px;
    max-width: 25%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
}

/*Contact*/
#contact {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    width: 100%;
    background-color: lightskyblue;
}
#contact h2 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 50px;
}

#contact .icons {
    display: flex;
    gap: 15px;
}

#contact .icons i {
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
    transition: transform 0.2s ease;
}

/*Responsiveness*/
@media (max-width: 768px) {
    #about {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    #about .text-content {
        margin-left: 0px;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    #projects {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    #technologies {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 480px) {
    #technologies {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    #contact h2 {
        font-size: 1.75rem;
    }
    #contact .icons i {
        font-size: 1.25rem;
    }
}